<%
var postList = theme.notice.postList;
%>

<div class="notice">
    <% if (theme.notice.showTitle) { %>
    <div class="title center-align">
        <i class="far fa-lightbulb"></i>&nbsp;&nbsp;<%= theme.notice.title %>
    </div>
    <% } %>
    <div class="row">
        <% if (postList) { %>
            <% Object.keys(postList).forEach(function(post) { %>
                <div class="col l8 offset-l2 m10 offset-m1 s10 offset-s1 center-align text">
                    <span class="notice-title"><%= postList[post].title %></span>
                    <span class="notice-date"><%= postList[post].date %></span>
                </div>
            <% }); %>
        <% } %>
    </div>
</div>