<div class="widget-wrap widget-cate">
  <div class="widget-title"><span>Me</span></div>
  <div class="widget-inner">
    <div>
      <img src="<%= theme.me_avatar %>" style="width: 50pxpx;height: 50px;display: block;margin: 0 auto;border-radius: 50% 50%;" />
    </div>
  </div>
</div>